@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Press+Start+2P&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-family: "Press Start 2P", cursive;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}

.game {
  width: 100%;
  height: 544px;
  border-bottom: 1px solid black;
}

.cloud {
  width: 200px;
  height: 90px;
  position: absolute;
  top: 135px;
  background-repeat: no-repeat;
  background-image: url(./cloud-removebg-preview.png);
  background-size: auto 90px;
}
.cOne {
  top: 170px;
  animation: slideCloud 1.6s infinite linear;
}
.cTwo {
  top: 110px;
  animation: slideCloud 2.3s infinite linear;
}
.cThree {
  animation: slideCloud 1.9s infinite linear;
}
.score {
  position: absolute;
  top: 255px;
  left: 20px;
}
.dinosour {
  width: 130px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url(./dinosour-removebg-preview.png);
  background-size: 150px 90px;
  position: absolute;
  top: 475px;
  left: 200px;
}

.cactus {
  width: 80px;
  height: 80px;
  background-image: url(./cactus.svg);
  position: absolute;
  top: 475px;
  left: 1300;
  animation: slide 1.5s infinite linear;
}

.gameOver {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 45%;
  width: 300px;
  height: 150px;
}
.btn {
  border: none;
  background: none;
  width: 70px;
  height: 50px;
}
.btn i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: 50px;
  height: 50px;
}

@keyframes slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slideCloud {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.animate {
  animation: jump 500ms;
}
@keyframes jump {
  0% {
    top: 475px;
  }
  30% {
    top: 355px;
  }
  70% {
    top: 355px;
  }
  100% {
    top: 475px;
  }
}
